{% extends "base.html"%}

{% block content %}
<section>
    <p>Pet Inforamtion:</p>
        <form action="/pet/{{pet.id}}/edit" method="post">
            <ul>
                <li>
                    <label for="pet_name" name="pet_name">Pet Name:</label>
                    <input type="text" id="pet_name" name="pet_name" value="{{pet.pet_name}}">
                </li>
                <li>
                    <label for="pet_type" name="pet_type">Pet Type:</label>
                    <input type="text" id="pet_type" name="pet_type" value="{{pet.type}}">
                </li>
                <li>
                    <label for="date_of_birth" name="date_of_birth">Date of Birth:</label>
                    <input type="text" id="date_of_birth" name="date_of_birth" value="{{pet.date_of_birth}}">
                </li>
            </ul>
            <input type="text"  id="pet_id" name="pet_id" value="{{pet.id}}" >
            <input type="submit" value="Submit">
        </form>
</section>
{% endblock %}