.forms{

    background-color:burlywood;
    color:white;
    max-width: 500px;
    min-height:23vh ;
    padding-top:2rem;
    
}
.forms  label {

	display:block;

}

.forms li {
    list-style-type: none;
    width:100%

}
.forms input {
    width:90%

}

.availability{
    margin-top:5rem;
    background-color:burlywood;
    max-width: 700px;


    
}

.recently-booked{

    background-color:burlywood;
    max-width: 700px;
}