body{
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    /* padding-bottom:10vh */
}
header{
    min-height: 12vh;
}

footer{
    background-color: burlywood;
    bottom: 0;
    position: fixed;
    width:100%;
    min-height:8vh;
    text-align: center;
    margin-top:1%
    

}

.wrapper .sidenav{
    position:relative;
    left:0;
    width:20vw;
    height:80vh;
    background-color: bisque;
    font-size: 1.8vw;
    top:4%
}

.wrapper .main-content{
    width:60vw;
    height:50vh;
    margin-left:40vw;
    position:absolute;
    top:10%;
    margin-bottom: auto


}

.wrapper .sidenav h1{
    line-height: 30px;
    border-bottom: 1px dotted white;
    text-align: center;
}
.wrapper .sidenav h5{
    text-align: center;
}

.wrapper .sidenav ul li{
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    
}






#h1{
    background-color: burlywood;

}



