{% extends "base.html"%}

{% block content %}

<header id="h1" ><div class="fa  fa-lg"><i class="fa fa-paw" aria-hidden="true"></i>Vet Management App</div> </header>

<div class="wrapper">
    <div class="sidenav">

        <h1>Menu</h1>
            <h5>Pet section</h5>
                <ul>
                    <li><a href="/add-pet">Register Pet</a></li>
                </ul>
        <ul>
            <li><a href="/pet">Pet Records</a></li>
        </ul>

        <h5>Admin section</h5>
        <ul>
            <li><a href="/appointments">Book Appointment</a></li>
        </ul>
        <ul>
            <li><a href="/add-vet">Register Vet</a></li>
        </ul>


        
    </ul>
    </div>

    <div class="main-content">


        <div>

            <form action="/appointments" method="post" class="availability">
                {% for each_vet in vets_availabilty %}
                <h3> Dr. {{each_vet.first_name}} Availability</h3>
                <input type="hidden" name="vet_id" id="vet_id" value={{each_vet.id}}>
                {% for each_day in day_time_form_keys %}
        
                <ul>
                    <button>{{each_day}}<input type="radio" id="date_selected" name="date_selected" value="{{each_day}}"></button>
                        <!-- {{each_day}} -->
                        {% if each_day in each_vet.availability.day_time.keys() %}
                            {% for each_slot in each_vet.availability.day_time[each_day]%}
                            <li style="display: inline-block">
                                <h5> <button>{{each_slot}}<input type="radio" id="slot_selected" name="slot_selected" value="{{each_slot}}">  </button></h5>
                            </li>
                                    
                            {% endfor %}
                        <hr>
                        {% endif %}
                        
                    
                </ul>
                {% endfor %}
        
                {% endfor %}
        <h3>Enter Pets Detail</h3>
                <label for="">
                    <input type="text"  id ="pet_name" name="pet_name" placeholder="Enter Pet name here">
                </label>
                <label for="">
                    <input type="date" id="pet_date_of_birth" name="pet_date_of_birth" >
                </label>

                <input type="submit">
        
            </form>

            <hr style="max-width: 700px; margin-left:0">
            <div class="recently-booked" >
                <h3> Last Booked Appointments</h3>
            <table style:"width:55%" >
    
            <tr>
                <head>
                <th style:"width:55%">ID</th>
                <th style:"width:55%">Pet_name</th>
                <th style:"width:55%">Pet_type</th>
                <th style:"width:55%">Date of Brith</th>
                <th style:"height:55%">Owner Contact</th>
                <th style:"height:55%">Appointment Date</th>
                </tr>
                </head>
                <tbody>
            {% for each_appointment in all_appointments %}
        
            <tr>
                <td>{{each_appointment['id']}}</td>
                <td>{{each_appointment['name']}}</td>
                <td>{{each_appointment['type']}}</td>
                <td>{{each_appointment['date_of_birth']}}</td>
                <td>{{each_appointment['contact_number']}}</td>
                <td>{{each_appointment['date']}}</td>
                </tr>
    
            {% endfor %}
                </tbody> 
    
            </table>
        </div>
            <hr style="max-width: 500px; margin-left:0">

        
        </div>
    </div>

</div>

<footer id="h4">@copy 2021 by Umair</footer>




















{% endblock %}

