{% extends "base.html"%}

{% block content %}
<header id="h1" ><div class="fa  fa-lg"><i class="fa fa-paw" aria-hidden="true"></i>Vet Management App</div> </header>

<div class="wrapper">
    <div class="sidenav">

        <h1>Menu</h1>
            <h5>Pet section</h5>
                <ul>
                    <li><a href="/add-pet">Register Pet</a></li>
                </ul>
                <ul>
                    <li><a href="/pet">Pet Records</a></li>
                </ul>

        <h5>Admin section</h5>
        <ul>
            <li><a href="/appointments">Book Appointment</a></li>
        </ul>
        <ul>
            <li><a href="/add-vet">Register Vet</a></li>
        </ul>


        
    </ul>
    </div>

    <div class="main-content">
        <h2> Add a New Vet</h2>
        <form action="/add-vet" method="POST" class="forms">
        
                <ul>
                    <li>
                        <label for="first_name">First Name:</label>
                        <input type="text" id="first_name" name="first_name" placeholder=" PLease enter first name here">
                    </li>
                    <li>
                        <label for="last_name">Last Name:</label>
                        <input type="text" id="last_name" name="last_name" placeholder=" PLease enter last name here">                  
                    </li>
                    <li>
                        <label for="telephone_number">Telephone No:</label>
                        <input type="text" id="telephone_number" name="telephone_number" placeholder=" PLease enter type here">
                    </li>
                    <li>
                        <button type="submit">Submit</button>
                    </li>
                </ul>
                
                
        
        
        </form>
    </div>

</div>

<footer id="h4">@copy 2021 by Umair</footer>














{% endblock %}